[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  suppress_multiple_term_dialog = True
  title_transmit_bg_color = "#272822"
  window_state = maximise
[keybindings]
  broadcast_all = <Primary><Shift>k
  broadcast_off = <Primary><Shift>l
  group_all_toggle = <Super>j
[layouts]
  [[default]]
    [[[child0]]]
      order = 0
      parent = ""
      position = 0:30
      size = 1354, 706
      type = Window
    [[[terminal1]]]
      order = 0
      parent = child0
      profile = default
      type = Terminal
[plugins]
[profiles]
  [[default]]
    background_color = "#272822"
    cursor_color = "#ffffff"
    foreground_color = "#ffffff"
    scrollback_infinite = True
